body {
/* 	background: url('../princeton.JPG') no-repeat center center;
*/	background-size: 100% 100%;
	height: 700px;  	
	margin: 0;
  	padding: 0px 60px;
}

.document-list {
	box-sizing: border-box;
	padding: 40px;
  left: 0;
  top: 40px;
  width: 100%;
}

